<div class="relative min-h-screen min-w-screen">
  <div
    class="min-h-screen flex items-center justify-center bg-primary/20 px-36"
  >
    <div
      class="bg-white shadow-lg rounded-lg p-8 w-full min-h-screen"
      *ngIf="user.isConnected"
    >
      <div class="flex justify-between gap-2">
        <h1 class="text-3xl font-bold mb-2 flex-grow">Our Diary</h1>

        <button
          class="bg-secondary text-white py-2 px-4 rounded"
          (click)="addEntry = true"
        >
          Make a Note
        </button>
        <button
          class="bg-primary text-white py-2 px-4 rounded"
          (click)="logout()"
        >
          Logout
        </button>
      </div>

      <div class="mt-5 w-full p-4 rounded-t-lg">
        <app-calendar-grid
          [month]="currentMonth"
          [year]="year"
          [entries]="allEntries"
        ></app-calendar-grid>
      </div>

      <!-- New UI -->
      <!--TODO: Re-do the calendar logic and tie a cell to days instead of numbers or make a year constructor-->

      <!--Partner Connection Interface-->

      <!--Add Entry Interface-->
      <div
        *ngIf="addEntry"
        class="absolute h-full w-full bg-black/30 z-10 top-0"
      >
        <div class="flex justify-center items-center h-full">
          <div class="bg-white p-4 rounded-lg shadow-lg w-11/12 max-w-md">
            <h2 class="text-lg font-bold mb-2">Add Entry</h2>
            <input
              type="text"
              placeholder="A note for your partner..."
              [(ngModel)]="entryMessage"
              class="border border-gray-300 rounded p-2 w-full mb-2"
            />
            <div class="flex justify-between">
              <button
                (click)="handleEntryPost()"
                class="bg-blue-500 text-white px-4 py-2 rounded"
              >
                Submit
              </button>
              <button
                (click)="addEntry = false"
                class="bg-red-500 text-white px-4 py-2 rounded"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="" *ngIf="!user.isConnected">
      <div class="">
        <div
          class="bg-white shadow-lg rounded-lg overflow-hidden flex max-w-4xl w-full"
        >
          <!-- Left Column - Image -->
          <div class="w-1/2 hidden md:block">
            <img
              src="https://i.ytimg.com/vi/u7SbGrPBugA/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGHIgVCg6MA8=&rs=AOn4CLBBNLxZmawMIPnUzXSACLmawQoL1Q"
              alt="Login"
              class="h-full w-full object-cover"
            />
          </div>

          <!-- Right Column - Form -->
          <div class="w-full md:w-1/2 p-8 flex flex-col justify-center">
            <h2 class="text-2xl font-bold mb-1 text-gray-800">
              You have no partner 💔
            </h2>
            <p class="mb-4">{{ message }}</p>

            <div class="mb-4">
              <input
                [(ngModel)]="partnerEmail"
                type="text"
                placeholder="Email"
                class="border border-gray-300 rounded w-full p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>

            <div class="flex justify-start gap-2 items-center mb-6">
              <button
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition-all"
                (click)="handleConnect()"
                *ngIf="!user.partnerEmail"
              >
                Connect
              </button>

              <button
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition-all"
                (click)="handleConfirm()"
                *ngIf="user.partnerEmail"
              >
                Confirm
              </button>
              <button
                class="bg-red-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition-all"
                (click)="logout()"
              >
                Log Out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
