

<div class="min-h-screen flex items-center justify-center bg-red-200">

  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-2xl min-h-screen min-w-1/2">
    <div class="flex justify-between"><h1 class="text-3xl font-bold mb-2 flex-grow">Our Diary</h1>
      <button class=" bg-red-500 text-white py-2 px-4 rounded" (click)="logout()">
        Logout
      </button></div>


    <!-- Your Entries -->
     <div >

        <div >
          <h1 class="text-xl font-bold mb-6">Your Entries</h1>

          <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 xl:grid-cols-3">
            <li *ngFor="let entry of allEntries.yourEntries" class=" shadow-lg rounded-lg p-4 border border-gray-200 flex flex-col justify-between min-h-40 bg-red-50">

              <!-- Content Wrapper -->
              <div class="flex-grow">
                <p class="text-gray-700 italic mb-2">{{ entry.message }}</p>
              </div>
              <div class="mt-auto text-sm text-gray-500">
                {{ entry.date | date: 'MMM dd, yyyy' }}
              </div>

            </li>
          </ul>

      </div>

      <!-- Partner Entries -->
      <div class="mt-5">
        <h1 class="text-xl font-bold mb-6">Partner Entries</h1>

        <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 xl:grid-cols-3">
          <li *ngFor="let entry of allEntries.partnerEntries" class="bg-red-50 shadow-lg rounded-lg p-4 border border-gray-200 flex flex-col justify-between min-h-40">

            <!-- Content Wrapper -->
            <div class="flex-grow">
              <p class="text-gray-700 italic mb-2">{{ entry.message }}</p>
            </div>


            <div class="mt-auto text-sm text-gray-500">
              {{ entry.date | date: 'MMM dd, yyyy' }}
            </div>

          </li>
        </ul>

    </div>
       </div>




  </div>
</div>
